@charset "UTF-8"; 

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body { 
        background-image: linear-gradient(to left, #FFF4E8, #E3D7CF, #C7A18B);
}

main {
        background-color: white;
        border-radius: 10px;  
        box-shadow:  5px 5px 15px #77706ac0;
        width: 600px;
        padding: 15px;
        margin: auto;
}

h1 {
        color: #C7A18B;
        text-align: center;
        text-shadow: 1px 1px 2px #74655da6;
}

h2 {
        color: #D6CCC2;
}

p {
    text-align: justify;
}